.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 7px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  width: 90%;
  height: 50px;
  margin-top: 10px;
  z-index: 999;
}
.container {
  display: flex;
  justify-content: center;
  /* background-color: gold; */
}
.links {
  display: flex;
  gap: 35px;
}
.dColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hoverScale {
  transition: transform 0.3s ease;
}
.hoverScale:hover {
  transform: scale(0.9);
}

/* @media (max-width: 715px) { */
/* .logo {
    display: none;
  } */
/* } */
/* @media (max-width: 600px) {
  .links {
    display: flex;
    gap: 15px;
  }
} */
@media (max-width: 650px) {
  .menu-icons {
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .dColumn {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 40px;
    right: 10px;
  }
  .dColumn1 {
    display: none;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .menu-icons {
    position: absolute;
    right: 20px;
  }
}
@media (min-width: 650px) {
  .menu-icons {
    display: none;
  }
  .dColumn {
    display: flex;
    flex-direction: row;
  }
}
